version: '3.8'
services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: local_db
    ports:
      - "5435:5432"
    volumes:
      - local_db_data:/var/lib/postgresql/data

volumes:
  local_db_data:
