body {
  @apply overscroll-none bg-transparent;
}

:root {
  --font-sans: var(--font-geist);
  --header-height: calc(var(--spacing) * 12 + 1px);
}

.theme-scaled {
  @media (min-width: 1024px) {
    --radius: 0.4rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  [data-slot='card'] {
    --spacing: 0.16rem;
  }

  [data-slot='select-trigger'],
  [data-slot='toggle-group-item'] {
    --spacing: 0.222222rem;
  }
}

.theme-default,
.theme-default-scaled {
  --primary: oklch(0.61 0.11 222);
  --primary-foreground: oklch(0.98 0.02 201);

  @variant dark {
    --primary: oklch(0.71 0.13 215);
    --primary-foreground: oklch(0.3 0.05 230);
  }
}

.theme-blue,
.theme-blue-scaled {
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.985 0.002 247.839);

  @variant dark {
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(0.985 0.002 247.839);
  }
}

.theme-green,
.theme-green-scaled {
  --primary: oklch(0.627 0.194 149.214);
  --primary-foreground: oklch(0.985 0.002 247.839);

  @variant dark {
    --primary: oklch(0.696 0.17 162.48);
    --primary-foreground: oklch(0.13 0.004 261.917);
  }
}

.theme-amber,
.theme-amber-scaled {
  --primary: oklch(0.769 0.188 70.08);
  --primary-foreground: oklch(0.13 0.004 261.917);

  @variant dark {
    --primary: oklch(0.769 0.188 70.08);
    --primary-foreground: oklch(0.13 0.004 261.917);
  }
}

.theme-mono,
.theme-mono-scaled {
  --font-sans: var(--font-mono);
  --primary: oklch(0.446 0.014 257.281);
  --primary-foreground: oklch(0.985 0.002 247.839);

  @variant dark {
    --primary: oklch(0.707 0.015 256.802);
    --primary-foreground: oklch(0.13 0.004 261.917);
  }

  .rounded-xs,
  .rounded-sm,
  .rounded-md,
  .rounded-lg,
  .rounded-xl {
    @apply !rounded-none;
    border-radius: 0;
  }

  .shadow-xs,
  .shadow-sm,
  .shadow-md,
  .shadow-lg,
  .shadow-xl {
    @apply !shadow-none;
  }

  [data-slot='toggle-group'],
  [data-slot='toggle-group-item'] {
    @apply !rounded-none !shadow-none;
  }
}
